.aadharpage{
display:flex;
background-color : #383838;
}
.aadhar{





}
.text{

  position: relative;
  top: 30px;
  left: 30px;



margin-bottom:10px;
padding:20px;
width:100px;
height:50px;
background-color:#484848;
border:1.5px  	#080808;
color:gold;
border-radius:10px;

}
.text:hover,.profile:hover{
transform :scale(1.1);
text-shadow : 0 0 10px black;
box-shadow : 0 0 30px 	#181818;
border:1.5px solid gold;
}
.aadharlink{
text-decoration:none;



}
.aadharpage{
padding : 20px}

.showaadhar{
width:300px;
height:200px;
padding:0px;
border: 2px solid white;
border-radius:30px;
}

.profile{
position:absolute;
left:25px;
top:15px;
margin-left:50px;
margin-bottom:-50px;

border-radius:50%;
background-color:#484848;
border:1.5px solid silver;

}
